@charset "ISO-8859-1";

@import
	url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

body {
	background: rgb(88, 85, 94);
}

div.tile img {
	width: 99px;
	height: 99px;
}

.tile {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-left: 5px;
}

.letter:first-child {
	height: 0px;
}

.letter {
	width: 100px;
	font-family: 'Kiwi Maru', serif;
	font-size: 2rem;
	color: white;
	display: inline-block;
	text-align: center;
	height: 100px;
	line-height: 100px;
	margin-right: 5px;
}

.number {
	width: 100px;
	font-family: 'Kiwi Maru', serif;
	font-size: 2rem;
	display: inline-block;
	top: 50%;
	left: 5%;
	position: relative;
	transform: translate(-50%, -80%);
	color: white;
}

.tile.black-tile {
	background: #A97260;
}

.tile.white-tile {
	background: #F9DDC2;
}

.move {
	position: absolute;
	z-index: 9;
}

.moveheader {
	cursor: move;
	z-index: 10;
}

#refreshBtn {
	font-family: 'Kiwi Maru', serif;
	width: 100px;
	height: 50px;
	color: #000;
	background-color: #F9DDC2;
	border-color: #F9DDC2;
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	padding: .375rem .75rem;
	font-size: 1rem;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#refreshBtn:focus {
	color: #000;
	background-color: #F9DDC2;
	border-color: #F9DDC2;
	box-shadow: 0 0 0 0.25rem rgb(249 221 194/ 50%);
}

#refreshBtn:hover {
	cursor: pointer;
}

#btnrow:first-child{
	margin-left: 110px;
}

#dead {
	height: 100px;
	display: inline-block;
}

.dead {
	display: inline-block;
}
.half{
	display: inline-block;
	flex-grow: 30;
	max-width: 600px;
}

.container{
	display: flex;
}

#board{
	width: 1000px;
	display: inline-block;
}